BCSDashboard/BCS/BCS.ObjectModel.Factories/Service References/PreflightLinkWCF/PreflightLinkWCF1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PreflightLinkWCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PreflightLinkWCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCustomerDealJobCycle">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CustomerDealJobCycle" nillable="true" type="tns:CustomerDealJobCycle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomerDealJobCycle" nillable="true" type="tns:ArrayOfCustomerDealJobCycle" />
  <xs:complexType name="CustomerDealJobCycle">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomerShortName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CycleNumber" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="DealNumber" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="JobNumber" nillable="true" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerDealJobCycle" nillable="true" type="tns:CustomerDealJobCycle" />
</xs:schema>