BCSDashboard/BCS/BCS.ObjectModel.Factories/Service References/PreflightLinkWCF/PreflightLinkWCF.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://webit.rrd.com/PreflightLinkWCF/PreflightLinkWCF.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PreflightLinkWCF" />
  <xs:element name="GetCustomerDealJobCycle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerDealJobCycleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PreflightLinkWCF" minOccurs="0" name="GetCustomerDealJobCycleResult" nillable="true" type="q1:ArrayOfCustomerDealJobCycle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostBillableActivity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dealNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="jobNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cycleNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fileCnt" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageCnt" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="recordedDate" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostBillableActivityResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>