BCSDashboard/BCS/BCSInitialLoadBatch/Service References/Preflight/PreflightLinkWCF.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PreflightLinkWCF" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://fps-wcfservice.rrd.com/PreflightLinkWCF/PreflightLinkWCF.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://fps-wcfservice.rrd.com/PreflightLinkWCF/PreflightLinkWCF.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://fps-wcfservice.rrd.com/PreflightLinkWCF/PreflightLinkWCF.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PreflightLinkWCF" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPreflightLinkWCF_GetCustomerDealJobCycle_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerDealJobCycle" />
  </wsdl:message>
  <wsdl:message name="IPreflightLinkWCF_GetCustomerDealJobCycle_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerDealJobCycleResponse" />
  </wsdl:message>
  <wsdl:message name="IPreflightLinkWCF_PostBillableActivity_InputMessage">
    <wsdl:part name="parameters" element="tns:PostBillableActivity" />
  </wsdl:message>
  <wsdl:message name="IPreflightLinkWCF_PostBillableActivity_OutputMessage">
    <wsdl:part name="parameters" element="tns:PostBillableActivityResponse" />
  </wsdl:message>
  <wsdl:portType name="IPreflightLinkWCF">
    <wsdl:operation name="GetCustomerDealJobCycle">
      <wsdl:input wsaw:Action="http://tempuri.org/IPreflightLinkWCF/GetCustomerDealJobCycle" message="tns:IPreflightLinkWCF_GetCustomerDealJobCycle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPreflightLinkWCF/GetCustomerDealJobCycleResponse" message="tns:IPreflightLinkWCF_GetCustomerDealJobCycle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PostBillableActivity">
      <wsdl:input wsaw:Action="http://tempuri.org/IPreflightLinkWCF/PostBillableActivity" message="tns:IPreflightLinkWCF_PostBillableActivity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPreflightLinkWCF/PostBillableActivityResponse" message="tns:IPreflightLinkWCF_PostBillableActivity_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPreflightLinkWCF" type="tns:IPreflightLinkWCF">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCustomerDealJobCycle">
      <soap:operation soapAction="http://tempuri.org/IPreflightLinkWCF/GetCustomerDealJobCycle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostBillableActivity">
      <soap:operation soapAction="http://tempuri.org/IPreflightLinkWCF/PostBillableActivity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PreflightLinkWCF">
    <wsdl:port name="BasicHttpBinding_IPreflightLinkWCF" binding="tns:BasicHttpBinding_IPreflightLinkWCF">
      <soap:address location="http://fps-wcfservice.rrd.com/PreflightLinkWCF/PreflightLinkWCF.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>